  <div class="pageHeading">
    <div class="container-fluid">
      <div class="left-col">
          <div *ngFor="let field of fields;" >
                  <h2 *ngIf="field.type==='object'" dynamicField [field]="field" ></h2>
            </div>
       
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="main-container">
        <div id="wizard" class="changePwd ssoWizard">
          <div class="newUser">
          <div class="bigitem noborder">
            <div class="editProfileForm ssoProfileForm">
                <div class="container">
                <div class="col-md-12">
              
              <form class="dynamic-form row" [formGroup]="form" (submit)="onSubmit($event)">
                <div *ngFor="let field of fields;" >
                  <ng-container *ngIf="field.type!=='object'" dynamicField [field]="field" [group]="form">
                  </ng-container>
                </div>
              </form>
              </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
        <div class="margin-top">
          <div  class="bigitem editProfileForm-add">          
            <div class="editProfileForm ">
              <div *ngIf="form.value" class="row">
                  {{ form.value | json }}
              </div>
            </div>
              
            </div>
</div>
</div>