<nav id="sidebar">
  <div class="sidebar-header">
    <tuebora-logo></tuebora-logo>
    <button class="close-btn" (click)="slideClose()"><i class="fa fa-times" aria-hidden="true"></i></button>

  </div>

  <ul class="list-unstyled components">
    <li *ngFor="let menu of primaryMenuData; let i=index;">
      <a [routerLink]="menu.path" *ngIf="menu.children.length<=0">
        <span class="icon">
        <i [class]="menu.icon" aria-hidden="true"></i>
      </span>
        {{menu.label}}
      </a>
      <a data-toggle="collapse" *ngIf="menu.children.length > 0" aria-expanded="false"
        href="#sidebar-items-conference{{i}}" [ngClass]="(menu.children.length > 0)?'collapsed':''">
        <span class="icon">  <i [class]="menu.icon" aria-hidden="true"></i></span>
        {{menu.label}} <b class="caret" *ngIf="menu.children.length > 0"></b></a>
      <ul class="collapse" id="sidebar-items-conference{{i}}" *ngIf="menu.children.length > 0">
        <li *ngFor="let submenu of menu.children">
          <a [routerLink]="submenu.path">  <span class="icon">  <i [class]="menu.icon" aria-hidden="true"></i></span> {{submenu.label}}</a>
        </li>
      </ul>
    </li>
    <li *ngFor="let profilmenu of utilityMenuData">
      <a [routerLink]="profilmenu.path" (click)="actionLink()">
        <span class="icon">
        <i [class]="profilmenu.icon" aria-hidden="true"></i>
      </span>
        {{profilmenu.label}}
      </a>
    </li>
  </ul>


</nav>
