<div [formGroup]="group"  [class]="field.columnClass" >
        <div  [class]="field.groupClass" >
<label>{{field.label}} </label>
<input  [class]="field.htmlClass" [formControlName]="field.name" [placeholder]="field.label" [type]="field.inputType" >
<ng-container *ngFor="let validation of field.validations;"  >
     <span class="error-message"  *ngIf="group.get(field.name).hasError(validation.name)">{{validation.message}}</span>
     <span class="error-message"  *ngIf="validation.name==='min' && group.get(field.name).hasError('minlength')">{{validation.message}}</span>
     <span class="error-message"  *ngIf="validation.name==='max' &&  group.get(field.name).hasError('maxlength')">{{validation.message}}</span>
    </ng-container>
</div></div>